{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>Asiakkaat</h1>

  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  {% if error %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endif %}

  <p>
    <a href="{{base_path}}/asiakas/uusi" class="btn btn-success">Lisää asiakas</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Asiakasnumero</th>
        <th>Nimi</th>
        <th>Laskutusosoite</th>
        <th>Postinumero</th>
        <th>Postipaikka</th>
        <th>Puhelinnumero</th>
        <th>Sähköposti</th>
        <th></th>
        {% if admin_logged_in %}
          <th></th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for asiakas in asiakkaat %}
        <tr>
          <td>{{asiakas.id}}</td>
          <td>{{asiakas.nimi}}</td>
          <td>{{asiakas.osoite}}</td>
          <td>{{asiakas.postinumero}}</td>
          <td>{{asiakas.postipaikka}}</td>
          <td>{{asiakas.puhelin}}</td>
          <td>{{asiakas.email}}</td>
          <th><a class="btn btn-default btn-sm" href="{{base_path}}/asiakas/{{asiakas.id}}">Näytä</a>
          {% if admin_logged_in %}
            <th>{{forms.destroy_button("#{base_path}/asiakas/#{asiakas.id}/destroy")}}</th>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}