{% extends "base.html" %}
{% block content %}
<h1>{{asiakas.nimi}}</h1>
<div class="alert alert-success">
  {{message}}
</div>
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Laskutusosoite: </strong>{{asiakas.osoite}}</li>
    <li><strong>Postinumero: </strong>{{asiakas.postinumero}}</li>
    <li><strong>Postipaikka: </strong>{{asiakas.postipaikka}}</li>
    <li><strong>Puhelin: </strong>{{asiakas.puhelin}}</li>
    <li><strong>Sähköposti: </strong>{{asiakas.email}}</li>
  </ul>
  {% endblock %}