{% extends "base.html" %}
{% block content %}
  <h1>Työmiehet</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää työmies</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Puhelin</th>
        <th>Tunnit</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Antti</td>
        <td>04058012</td>
        <td>5</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a>
        <th><a class="btn btn-danger btn-sm" href="#">Nollaa tunnit</a>
        <th><a class="btn btn-danger btn-sm" href="#">Poista</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
