{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa työmiestä</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Puhelin</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
  {% endblock %}