{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{kohde.osoite}}</h1>

{% if message %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endif %}
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Asiakas: </strong>{{kohde.nimi}}</li>
    <li><strong>Osoite: </strong>{{kohde.osoite}}</li>
    <li><strong>Aloitettu: </strong>{{kohde.aloitettu}}</li>
    <li>
      {% if kohde.tila == "kesken" %}
        <label class="label label-danger">kesken</label>
      {% endif%}
      {% if kohde.tila == "valmis" %}
        <label class="label label-success">Valmis</label>
      {% endif%}
      {% if kohde.tila == "lopetettu" %}
        <label class="label label-warning">Lopetettu</label>
      {% endif%}
    </li>
  </ul>

  <h3>Kohteen työnkuvaus:</h3>
  <p>{{kohde.kuvaus}}</p>
  <br>
  <p>
    <a href="{{base_path}}/merkinta/{{kohde.id}}" class="btn btn-success">Lisää merkintä</a>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Työntekijä</th>
        <th>Päiväys</th>
        <th>Työtunnit</th>
        <th>Kuvaus</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for merkinta in merkinnat %}
        <tr>
          <td>{{merkinta.nimi}}</td>
          <td>{{merkinta.paivays}}</td>
          <td>{{merkinta.tunnit}}</td>
          <td>{{merkinta.kuvaus}}</td>
          <td>{{merkinta.id}}</td>
          <th>{{forms.destroy_button("#{base_path}/merkinta/#{merkinta.id}/destroy")}}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}