{% extends "base.html" %}
{% block content %}
  <h1>Työmiehet</h1>

  <p>
    <a href="{{base_path}}/tyomies/uusi" class="btn btn-success">Lisää Työntekijä</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nimi</th>
        <th>Puhelin</th>
        <th>Tunnit</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for tyomies in tyomiehet %}
        <tr>
          <td>{{tyomies.id}}</td>
          <td>{{tyomies.nimi}}</td>
          <td>{{tyomies.puhelin}}</td>
          <td>{{tyomies.tunnit}}</td>
          <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a>
          <th><a class="btn btn-danger btn-sm" href="#">Nollaa tunnit</a>
          <th><a class="btn btn-danger btn-sm" href="#">Poista</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
