{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>Työmiehet</h1>

  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <p>
    <a class="btn btn-default" href="{{base_path}}/tyomies/{{session}}/edit" role="button">Muokkaa tietojani</a>
    <a class="btn btn-default" href="{{base_path}}/tyomies/{{session}}/salasana" role="button">Vaihda salasana</a>
  </p>
  <div class="row">
    <div class="col-xs-7">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-1">ID</th>
            <th class="col-md-3">Nimi</th>
            <th class="col-md-3">Puhelin</th>
          </tr>
      </thead>
      <tbody>
      {% for tyomies in tyomiehet %}
        <tr>
          <td>{{tyomies.id}}</td>
          <td>{{tyomies.nimi}}</td>
          <td>{{tyomies.puhelin}}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
{% endblock %}
